{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block titletag %}
{% trans 'Notifications' %}
{% endblock %}

{% block content %}
<header class="col12">
    <div class="row nice-padding">
        <div class="left">
            <div class="col header-title">
                <h1 class="icon icon-fa-bar-chart">
                    {% trans "Notifications" %}
                </h1>
            </div>
        </div>
    </div>
</header>
<div class="nice-padding">
    {% for notification in notifications %}
    <div class="notification" {% if notification.unead %} data-unread {% endif %}>
    {{ notification.description}}
    </div>
    {% endfor %}
</div>
{% endblock %}
